.Landing{
  font-size: 2rem;
}

.AddJob{
  font-size: 3rem;
  form{
    input{
      font-size: 2rem;
    }
    .drop-input{
      select{
        font-size: 2rem;
      }
    }
    button{
      font-size: 2rem;
    }
  }
}

.JobCard{
  &__card{
    .job-header{
      h3 {
        color: $font-green;
        font-size: 1.7rem;
      }
      span{
        color: $card-background;
        font-size: 1.3rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    h2{
      font-size: 1.8rem;
      padding: 1.5rem 0;
    }
    .job-specs{
      span{
        font-size: 1.5rem;
        &:not(:first-child):before{
          content: "•";
        }
      }
    }
  }
}