@mixin form-spacing{
  padding: 1.5rem;
  width: 100%;
  @media (min-width: 768px) and (max-width: 1024px){
    padding: 1.5rem;
    width: 80%;
  }
  @media (min-width: 1281px){
    padding: 2rem;
    width: 60%;
  }
}

@mixin input-style{
  padding: .5rem;
  border: 1px solid $font-green;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba($shadow, .10);
  background-color: $card-background;
  @media (min-width: 768px) and (max-width: 1024px){
    padding: 1rem;
  }
}

@mixin input-size{
  width: 100%;
  min-height: 3rem;
}