.AddJob{
  text-align: center;
  height: 100vh;
  width: 100vw;
  form{
    background-color: palegoldenrod;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span{
      display: block;
    }

    .text-input{
      height: 3rem;
      width: 15rem;
    }
    .checkbox-wrapper{
      background-color: red;
      display: flex;
      flex-direction: column;
      .checkbox-input{
        input{
          height: 3rem;
          width: 3rem;
          margin: 0 2rem 0 2rem;
        }
    }
    
    }
    .radio-input{
      input{
        height: 3rem;
        width: 3rem;
        margin: 0 2rem 0 2rem;
      }
    }
    .drop-input{
      select{
        height: 3rem;
        width: 15rem;
      }
    }
    button{
      width: 10rem;
      height: 3rem;
    }
  }
}