.Header{
  height: 20vh;
  width: 100vw;
  background-image: url("https://svgshare.com/i/TSi.svg");
  background-repeat: no-repeat;
  background-color: hsl(180, 29%, 50%);
  background-size: cover;

  position: relative;

  .addjob-wrapper{
    text-align: center;
    padding: 1rem 2rem;

    position: absolute;
    right: 0;
    top: 0;
    .addjob-link{
      .btn-addjob{
        height: 5rem;
        width: 5rem;
      }
      span{
        display: block;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .Header{
    height: 15vh;
    .addjob-wrapper{
      right: 3rem;
      top: 3rem;
    }
  }
}

@media (min-width: 1281px){
  .Header{
    height: 20vh;
    background-image: url("../../images/bg-header-desktop.svg");
  
    .addjob-wrapper{
      right: 10rem;
      top: 3rem;
      .addjob-link{
        .btn-addjob{
          height: 5rem;
          width: 5rem;
        }
      }
    }
  }
}