.JobCard{
  width: 90vw;

  position: absolute;
  top: 15vh;

  padding-bottom: 10rem;

  .filters-wrapper{
    width: 90vw;
    background-color: $card-background;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba($shadow, .10);

    display: flex;
    flex-wrap: wrap;
    .tablets-wrapper{
      width: 75%;

      display: flex;
      flex-wrap: wrap;
      .filter-and-delete{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 1rem 1rem 1.5rem;
  
  
        .delete-icon-wrapper{
          background-color: $font-green;
          height: 3.5rem;
          padding: 1rem;
          border-radius: 0 .5rem .5rem 0;
          
          display: flex;
          align-items: center;

          transition: all .5s;

          &:hover{
            cursor: pointer;
            background-color: $featured;
          }
  
          .delete-filter{
            color: $card-background;
            height: 2rem;
            width: 2rem;
          }
        }
        
        .filters-active{
          display: inline-block;
          background-color: $filter-tablets;
          height: 3.5rem;
          padding: 1.3rem;
          border-radius: .5rem 0 0 .5rem;
          box-shadow: 0 1rem 2rem rgba($shadow, .10);
  
        }
    }
    
    }
    .clear-wrapper{
      width: 25%;

      display: flex;
      align-items: center;
      justify-content: center;      
      button{
        background-color: $card-background;
        border: none;
      }
    }
   
  }

  &__card{
    background-color: $card-background;

    margin-top: 12rem;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba($shadow, .10);

    position: relative;

    img{
      position: absolute;
      width: 8rem;
      height: 8rem;

      top: -5rem;
      left: 2rem;
    }

    .job-header{
      h3 {
        display: inline-block;
      }
      span{
        background-color: $featured;
        padding: .7rem;
        border-radius: 5rem;

        margin-left: 2rem;
      }
    }

    .job-specs{
      display: flex;
      justify-content: flex-start;

      padding: 2rem 0 2rem 0;

      border-bottom: $light-grey 1px solid;
      span{
        padding-right: 1rem;
        &:not(:first-child):before{
          padding-right: 1rem;
        }
      }
    }
    .tags{
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      padding-top: 1rem;
      
      .tag{
        display: inline-block;
        background-color: $filter-tablets;
        padding: 1.2rem;
        margin: 1rem 1rem 0 0;
        border-radius: .5rem;
        transition: all .5s;

        &:hover{
          background-color: $font-green;
          cursor: pointer;
        }
      }
    }
    .delete-btn {
      border: none;
      background-color: $card-background;

      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }
  
}

@media (min-width: 768px) and (max-width: 1024px){
  .JobCard{
    width: 75vw;
    top: 11.5vh;
    .filters-wrapper{
      width: 75vw;
      .tablets-wrapper{
        width: 75%;
        .filter-and-delete{
          margin: 3rem 3rem 3rem 1.5rem;
          .delete-icon-wrapper{
            height: 4rem;
          }
        }
      }
    }
    &__card{
      padding: 5rem;
      img{
        position: absolute;
        width: 9rem;
        height: 9rem;
  
        top: -5rem;
        left: 5rem;
      }
      .delete-btn {
        top: 4.5rem;
        right: 4.5rem;
      }
    }
  }
}

@media (min-width: 1281px){
  .JobCard{
    .filters-wrapper{
      .tablets-wrapper{
        .filter-and-delete{
          padding: 1.5rem;
        }
      }
    }
    &__card{
      display: flex;

      justify-content: space-between;

      margin-top: 8rem;
  
      img{
        width: 11rem;
        height: 11rem;
  
        top: 50%;
        left: 0%;

        transform: translate(50%, -50%);
      }

      .info-wrapper{
        width: 50%;
        padding-left: 20rem;   
        .job-specs{
          border-bottom: none;
        }
      }
      .tags{
        width: 50%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
      }
      .delete-btn {
        border: none;
        background-color: $card-background;
  
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
    }
    
  }
}