.JobCard{
  background-color: blue;
  width: 90vw;

  &__card{
    background-color: $card-background;

    margin-top: 7.5rem;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

    position: relative;

    img{
      position: absolute;
      width: 8rem;
      height: 8rem;

      top: -5rem;
      left: 2rem;
    }

    .job-header{
      h3 {
        display: inline-block;
      }
      span{
        background-color: $featured;
        padding: .7rem;
        border-radius: 5rem;

        margin-left: 2rem;
      }
    }

    .job-specs{
      display: flex;
      justify-content: flex-start;
      span{
        padding-right: 1rem;
        &:not(:first-child){
          padding-left: 1rem;
        }
      }
    }
  }
}